<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!--<script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

</head>


<body>
    {{#if logged_in}}
    
          <a class="button is-primary">
            <btn id="logout">logout</btn>
          </a>
          {{else}}
          <a class="button is-primary"> 
            <btn id="signup"><strong>Sign Up</strong></btn>
          </a>
        </div>
    </div>
    </div>
    {{/if}}
    {{{ body }}}
    {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>
