<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="20x20" href="img/v-logo.png" />
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.0.0/dist/tailwind.min.css">
    <link rel="stylesheet" src="../../public/css/style.css">
</head>

<body>
    {{#if logged_in}}
    <nav>
      <h1>User Registry</h1>
    <a href="/">Home</a>
      <btn class="btn" id="logout">logout</btn>
    </nav>
    {{/if}}
    {{{body}}}
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>
