<form class="field login-form">
  <div class="form-group">
    <label for="email-login">Username:</label>
    <input class="input is-primary is-rounded is-3" type="text" id="username-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="input is-primary is-rounded is-3" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="button is-primary is-focused" type="submit">login</button>
  </div>
</form>

<script src="/js/login.js"></script>