<div class="card">

  <h2 class="card-header">SIGN UP</h2>

  <form class="card-body signup-form">

    <div class="form-group">
      <label class="form-label">Username:</label>
      <input class="form-input" type="text" id="username-input-signup" />
    </div>

    <div class="form-group">
      <label class="form-label">Password:</label>
      <input class="form-input" type="password" id="password-input-signup" />
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">SIGN UP</button>
    </div>

  </form>
      <br>
    <a href="/login">Login Instead</a>

</div>
<script src="/js/signup.js"></script>